/* 1st part */

html {  
	background-color: #3F375E;  
	background-image: linear-gradient(to bottom right, #35315C, #2A122E);  
	color: #fff;  
	font-family: "Quicksand", sans-serif;  
	font-size: 16px;  
	-moz-osx-font-smoothing: grayscale;  
	-webkit-font-smoothing: antialiased;  
	line-height: 1.5;  
	min-height: 100vh;  
	min-width: 300px;  
	overflow-x: hidden;  
	text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); 
}

a {
	color: currentColor;
	cursor: pointer;
	text-decoration: none;
}


/* 2nd part | wallpaper part 1 | Shared */


.wallpaper,
.picture-shadow,
.picture-image {
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

.job,
.button,
.buttons {
	font-family: "Montserrat", "Quicksand", sans-serif;
	letter-spacing: 0.3em;
	text-transform: uppercase;
}

.button,
.buttons,
.social a {
	transform-origin: center;
	transition-duration: 200ms;
}


/* 3rd part | wallpaper part 2 | specific */


.wallpaper {
	background-image: url("../images/bg3.jpg");
	background-position: center;
	background-size: cover;
	opacity: 0.4;
	position: fixed;
}

.content {
	display: flex;
	position: relative;
	min-height: 100vh;
}

.side {
	max-height: 20rem;
	max-width: 20rem;
}

.about {
	max-width: 40rem;
}

.picture {
	padding-top: 100%;
	position: relative;
	width: 100%;
}

.picture-shadow {
	border-radius: 200769px;
	background-image: radial-gradient(#000 0%, rgba(0, 0, 0, 0) 70%);
	position: absolute;
	top: 10%;
}

.picture-image {
	border-radius: 200769px;
	position: absolute;
}

.name {
	font-size: 2.25rem;
	line-height: 1.125;
	margin-bottom: 0.5rem;
	font-weight: 500;
}

.job {
	color: #ffe479;
	font-size: 0.75rem;
}

.hr {
	background-color: #ff470f;
	border: none;
	content: "";
	height: 1px;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
	transform-origin: center left;
	width: 4rem;
}

.description {
	font-size: 1.3rem;
}

.contact {
	display: inline-block;
	margin-top: 1.5rem;
	vertical-align: top;
}

.button {
	background-color: #fff;
	border-radius: 9198px;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
	color: #9013fe;
	display: inline-block;
	font-size: 0.875rem;
	line-height: 1;
	padding: 1.25em 2em;
	text-shadow: none;
	transition-property: box-shadow, transform;
	user-select: none;
	vertical-align: top;
	white-space: nowrap;
	will-change: box-shadow, transform;
}

.button:hover {
	box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
	transform: scale(1.02) translateY(-4px);
}

.button:active {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
	transform: scale(0.98) translateY(-2px);
}

.social {
	display: flex;
	margin-top: 1.5rem;
}

.social li {
	height: 2rem;
	margin-right: 0.5rem;
	text-align: center;
	width: 2rem;
}

.social a {
	align-items: center;
	display: flex;
	font-size: 1.5rem;
	height: 2rem;
	justify-content: center;
	opacity: 0.5;
	transition-property: opacity, transform;
	width: 2rem;
	will-change: opacity, transform;
}

.social a:hover {
	opacity: 1;
	transform: scale(1.25);
}

.social a:active {
	opacity: 1;
	transform: scale(1.1);
}

.buttons {
	background-color: #fff;
	border-radius: 9198px;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
	color: #9013fe;
	display: inline-block;
	font-size: 0.65rem;
	line-height: 1.4;
	padding: 0.20em 1.3em;
	margin-top: 0.20em;
	margin-bottom: 1.5em;
	text-shadow: none;
	transition-property: box-shadow, transform;
	user-select: none;
	vertical-align: top;
	white-space: nowrap;
	will-change: box-shadow, transform;
	position: relative;
	transition: padding-right 0.3s;
	transition: padding-left 0.3s;
	transition-timing-function: ease;
}

.buttons:active {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
	transform: scale(0.8) translateY(-3px);
}

.buttons:focus {
	outline: 0;
}

.button2 {
	margin-left: -11px;
	z-index: 1;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}

.button1 {
	z-index: 2;
}

.button3 {
	margin-left: -11px;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}

.selected::before {
	content: "";
	background: #9013fe;
	height: 4px;
	width: 4px;
	position: absolute;
	left: 8px;
	top: 6px;
	border-radius: 20px;
}


/* 4th part Responsiveness */


@media screen and (max-width: 799px) {
	.content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 5rem 2rem;
	}

	.side {
		margin-bottom: 3rem;
		width: 90%;
	}

	.name {
		font-size: 1.5rem;
	}

	.buttons {
		letter-spacing: 0.2em;
	}

	.about {
		padding-left: 0.8rem;
	}
}

@media screen and (min-width: 800px) {
	.content {
		align-items: center;
		justify-content: space-around;
		justify-content: space-evenly;
		padding: 4rem;
	}

	.side {
		flex-grow: 0;
		flex-shrink: 0;
		height: 20rem;
		margin-left: 4rem;
		order: 2;
		width: 20rem;
	}

	.about {
		flex-grow: 1;
		flex-shrink: 1;
	}

	.buttons:hover {
		padding-right: 4em;
		padding-left: 4em;	
	}

	.button1,
	.button2,
	.button3 {
		padding-left: 16px;
	}
}